@charset "utf-8";
/* CSS Document */

body {
	background-color: lightblue;
	
}

.border {
	border: 3px solid black;
}

ol li {
	color: white;
}
ul li {
	color: white;
}

h2.border {
	background-color: white;
}
